@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row" id="mainPage">
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <label></label>
            <input id="input" type="text"/>
            <button id="btnSearch" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="row" id="searchPage">
    </div>
</div>

@section Scripts
{
    <script>
        
        let apiResult = [];
        const container = document.getElementById('mainPage');
        const searchContainer = document.getElementById('searchPage');
        const button = document.getElementById('btnSearch');
        
        axios.get("api/packages")
        .then(response => 
            {
                apiResult = response.data;
                console.log(apiResult);
                apiResult.forEach(elem => {
                   container.innerHTML += 
                   `
                    <div class="col-4">
                        <div class="card"> 
                          <h4 class="text-center mt-2">${elem.title}</h4>
                          <div class="card-body">
                            <p class="card-text text-center">${elem.description}</p> 
                            <p class="text-end">${elem.price} €</p>
                            <a href="Home/Detail/${elem.id}" class="btn btn-primary">See more...</a> 
                          </div> 
                        </div>
                    </div>
                   `
                });         
            }
        )
        .catch(
            error => console.log(error)
        )
        
        function searchByName(name){
            console.log("Inside");
            let filter = apiResult.filter(elem => elem.title.toLowerCase().includes(name.toLowerCase()));
            console.log(filter);
            filter.forEach(elem =>
                {
                    searchContainer.innerHTML +=
                    `
                    <h6>${elem.title}</h6>
                    `
                })
        }
        
        button.addEventListener('click', () => {
            searchContainer.innerHTML = "";
            let input = document.getElementById('input').value;
            searchByName(input);
        })
        
        
    </script>
}